@import-normalize;

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  padding: 30px 5px;
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
